body {
    background: radial-gradient(circle at center, #ef8888 0%, #ed3434 25%, #ef8888 25%, #ed3434 40%, #ef8888 60%);
    width: 100%;
    height: 100vh;
    display: block;
    font-size: 4em;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    margin: auto;
}
.time {
    color: white;
    text-align: center;
    font-family: GillSans, HelveticaNeue, Helvetica, sans-serif;
    font-size: 8em;
    margin: auto;
}

.rad {
    background: radial-gradient(circle at center, #ed3434 0%, #ef8888 45%, #ed3434 25%, #ef8888 40%, #ed3434 60%);
    width: 100%;
    height: 100vh;
    display: block;
    font-size: 4em;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity 6s;
}
